@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}


@font-face {
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Mark Pro'), url('FontFont - Mark Pro.otf') format('truetype');
}

:root {
  --ssBlue:#4D6AB2;
  --ssGreen:#4DC4AA;
  --ssPink:#EB5D56;
  --ssLightBlue:#6DCFCF;
  --ssYellow:#FFC82C;
  --ssOrange:#F27B34;
  --ssGrey:#E8E9EB;
  --ssFont: 'Montserrat', sans-serif;;
}

body, label, input, button, select, box,
    .h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
  color: var(--ssBlue);
  font-family: var(--ssFont);

}

.h6, h6 {
  font-family: var(--ssFont);
  color: var(--ssBlue);

}

 sidebar
.skin-blue .main-sidebar {
  background: var(--ssGreen);
}

/* box: primary color */
.box.box-solid.box-primary>.box-header h3, .box.box-primary>.box-header h3 {
  color: white;
}
.box.box-solid.box-primary>.box-header {
  background: var(--ssLightBlue);
}
.box.box-solid.box-primary, .box.box-primary {
  border-color: var(--ssLightBlue);
  border-left-color: var(--ssLightBlue);
  border-right-color: var(--ssLightBlue);
  border-top-color: var(--ssLightBlue);
}

/* box: warning color */
.box.box-solid.box-warning>.box-header h3, .box.box-warning>.box-header h3 {
  color: white;
}
.box.box-solid.box-warning>.box-header {
  background: var(--ssOrange);
  border-radius: ', boxBorderRadius, 'px;
}
.box.box-solid.box-warning, .box.box-warning {
  border-color: var(--ssOrange);
  border-left-color: var(--ssOrange);
  border-right-color: var(--ssOrange);
  border-top-color: var(--ssOrange);
  border-radius: var(--ssOrange)px;
}

/* box: success color */
.box.box-solid.box-success>.box-header h3, .box.box-success>.box-header h3 {
  color: white;
  font-family: var(--ssFont);

}
.box.box-solid.box-success>.box-header {
  background: var(--ssGreen);
}
.box.box-solid.box-success, .box.box-success {
  border-color: var(--ssGreen);
  border-left-color: var(--ssGreen);
  border-right-color: var(--ssGreen);
  border-top-color: var(--ssGreen);
}

/* box: danger color */
.box.box-solid.box-danger>.box-header h3, .box.box-danger>.box-header h3 {
  color: white;
  font-family: var(--ssFont);

}
.box.box-solid.box-danger>.box-header {
  background: var(--ssPink);

}
.box.box-solid.box-danger, .box.box-danger {
  border-color: var(--ssPink);
  border-left-color: var(--ssPink);
  border-right-color: var(--ssPink);
  border-top-color: var(--ssPink);
}


/* header */
.skin-blue .main-header .navbar {
  background: var(--ssBlue);
  color:var(--ssLightBlue);
}

/* header side */
.skin-blue .main-header .navbar .sidebar-toggle {
  background:var(--ssBlue);
  color:var(--ssLightBlue);
}

/* header side hover */
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background:var(--ssGrey);
  color:var(--ssLightBlue);
}

/* sidebar: logo */
.skin-blue .main-header .logo {
  background:var(--ssBlue);
  color:var(--ssGrey);
}


/* body */
.content-wrapper, .right-side {
  background:var(--ssGrey);
}

/* sidebar: tab hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover {
  background: ', sidebarTabBackColorHover, ';
  color: ', sidebarTabTextColorHover, ';
  font-size: ', sidebarTabTextSize, 'px;
  border-style: ', sidebarTabBorderStyleHover, ';
  border-color: var(ssBlue);
  border-width: ', sidebarTabBorderWidthHover, 'px;
  border-radius: ', sidebarTabRadiusHover, ';
}

/* tabbox: tab color */
.nav-tabs-custom, .nav-tabs-custom .nav-tabs li.active:hover a,
.nav-tabs-custom .nav-tabs li.active a {

  color: var(--ssBlue);
}

/* box: title */
.box-header .box-title {
  color: white;
}